@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<select id="authors">
    <option></option>
</select>

<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody id="bookTableBody">
    </tbody>
</table>

@* You know that jQuery template is being developed by Microsoft, right? *@
<script id="bookTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td>${Author}</td>
        <td>${Title}</td>
        <td>${Subject}</td>
    </tr>
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("GetAuthors", "Api/Books")',
            type: 'GET',
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    var option = new Option(result[i], result[i]);
                    $('#authors').append(option);
                }
            }
        });

        $('#authors').change(function () {
            var author = $('#authors').val();

            $.ajax({
                url: '@Url.Action("GetBooksForAuthor", "Api/Books")',
                type: 'POST',
                data: { author: author },
                success: function (result) {
                    $('#bookTableBody').empty();
                    $('#bookTemplate').tmpl(result).appendTo('#bookTableBody');
                }
            });
        });

    })
</script>
