@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<select id="authors">
    <option></option>
</select>

<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody id="bookTableBody">
    </tbody>
</table>

@* You know that jQuery template is being developed by Microsoft, right? *@
<script id="bookTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td>${Author}</td>
        <td>${Title}</td>
        <td>${Subject}</td>
    </tr>
</script>

<script type="text/javascript">

    $(document).ready(function () {

        var api = new booksApi();
        api.getAuthors();

        $('#authors').change(function () {
            var author = $('#authors').val();

            api.getBooksByAuthor(author);
        });

    })

</script>
